.header{
  display:grid;
  @each $breakpoint, $width in $grid-breakpoints {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        grid-template-columns: $grid_offset_left $logo_width ($width - $logo_width) $grid_offset_right;
    }
  }
  height:$header_height;
  &__logo{
    padding-top:($header_height - $logo_height)/2;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  &__menu{
    grid-column-start: 3;
    grid-column-end: 4;
  }
}
