.menu{
  color:$bright_black;
  &--header{
    margin-top:25px;
  }
  &__element{
    display:inline-block;
    padding:5px 15px 7px 15px;
    border-left:1px solid $bright_green;
    position:relative;
    color:inherit;
    &:first-child{
      border-left:none;
      @include make-breakpoint-values($menu-element-first-child);
    }
    &:hover .popup-menu{
      display:block;
    }
  }
}

.menu-link{
  text-decoration:none;
  color:inherit;
  white-space:inherit;
  &__title{
    color:inherit;
    font-family: 'Oswald', sans-serif;
    font-weight:300;
    white-space:inherit;
  }
}

.popup-menu {
  display:none;
  position:absolute;
  left:-1px;
  top:100%;
  background:$popup_background;
  color:inherit;
  white-space:nowrap;
  border-top:1px solid $popup_border_color;
  border-left:1px solid $popup_border_color;
  border-right:1px solid $popup_border_color;
  &--active{
    display:block;
  }
  &__element{
    padding:5px 15px 7px 15px;
    border-bottom:1px solid $popup_border_color;
  }
}
