/* DWS */

// Default colors
$background: #f7f7f7 !default;
$foreground: #4a4543 !default;

// Normal colors
$black:   #090300 !default;
$red:     #db2d20 !default;
$green:   #01a252 !default;
$yellow:  #fded02 !default;
$blue:    #01a0e4 !default;
$magenta: #a16a94 !default;
$cyan:    #b5e4f4 !default;
$white:   #a5a2a2 !default;

// Bright colors
$bright_black:   #5c5855 !default;
$bright_red:     #db2d20 !default;
$bright_green:   #01a252 !default;
$bright_yellow:  #fded02 !default;
$bright_blue:    #01a0e4 !default;
$bright_magenta: #a16a94 !default;
$bright_cyan:    #b5e4f4 !default;
$bright_white:   #f7f7f7 !default;

$dws_background: $background;

/* GRID */
$grid-breakpoints:(
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
$grid_offset_left: auto !default;
$grid_offset_right: auto !default;

/* LOGO */
$logo_width: 70px !default;
$logo_height: 70px !default;

/* HEADER */
$header_height: 90px !default;
$header-grid:(
  xs: (grid-template-columns: 100%, height:auto),
  sm: (grid-template-columns: $grid_offset_left $logo_width (576px - $logo_width) $grid_offset_right, height:$header_height),
  md: (grid-template-columns: $grid_offset_left $logo_width (768px - $logo_width) $grid_offset_right),
  lg: (grid-template-columns: $grid_offset_left $logo_width (992px - $logo_width) $grid_offset_right),
  xl: (grid-template-columns: $grid_offset_left $logo_width (1200px - $logo_width) $grid_offset_right),
) !default;
$header-logo:(
  xs: (grid-column-start: 1, grid-column-end: 2),
  sm: (grid-column-start: 2, grid-column-end: 3),
) !default;
$header-menu:(
  xs: (grid-column-start: 1, grid-column-end: 2),
  sm: (grid-column-start: 3, grid-column-end: 4),
) !default;

/* MENU */
$popup_background:$background;
$popup_border_color:$bright_green;

/* CATALOG */
$catalog_filters_width: 300px !default;
$catalog_items_width: auto !default;
$catalog-grid:(
  xs: (grid-template-columns: auto auto),
  md: (grid-template-columns: $catalog_items_width $catalog_filters_width),
) !default;
$catalog-filters:(
  xs: (grid-column-start: 1, grid-column-end: 3, grid-row-start:1, grid-row-end:2),
  md: (grid-column-start: 2, grid-column-end: 3,),
) !default;
$catalog-items:(
  xs: (grid-column-start: 1, grid-column-end: 3, grid-row-start:2, grid-row-end:3),
  md: (grid-column-start: 1, grid-column-end: 2, grid-row-start:1, grid-row-end:2),
) !default;
$catalog-categories:(
  xs: (grid-column-start: 1, grid-column-end: 3,),
) !default;
