{% load image_tag %}
{% if picture %}
  <picture class="picture">
    {% get_webp_srcset picture True as webp %}
    {% get_jpeg_srcset picture True as jpeg %}
    {% get_png_srcset picture True as png %}
    {% if webp %}
      <source srcset="{{webp}}" >
    {% endif %}
    {% if jpeg %}
      <source srcset="{{jpeg}}" >
    {% endif %}
    {% if png %}
      <source srcset="{{png}}" >
    {% endif %}
    <img class="picture__img" src="{{picture.url}}" alt="{{picture_name}}" />
  </picture>
{% endif %}
