{% load static sass_tags %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <link href="{% sass_src 'sass/main.scss' %}" rel="stylesheet" type="text/css" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}"  type="image/ico">
    <title>{% block title %}Django Web Store{% endblock %}</title>
  </head>
  <body>
      {% block content %}
      {% endblock %}
  </body>
</html>

